html {
  font-family: Helvetica, sans-serif;
}

body {
  text-align: center;
}

.header {
  color: white;
  background-image: url("C:/projects/broadway/resources/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.lilheader {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("C:/projects/broadway/resources/images/the-flatiron-building.png")
}

.copyright {
  font-size: 11px;
  color: white;
}
.footer {
  text-align: left;
  background-color: dimgray;
}
